* {
    font-family: 'Open Sans', sans-serif;
}
/* removing topmsg */
div.rninfo, div.weblockmsg {
    display:none !important;
}

nav.navbar {
    /* background-color: #801c7c !important; */
    /* background: rgb(196,54,120);
background: linear-gradient(227deg, rgba(196,54,120,1) 0%, rgba(128,28,124,1) 59%); */
background-color: #4f3bc0 !important;
    /* font-weight: bold; */

    
    
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:white !important;
}
a.nav-link.dropdown-toggle {
    color:#e3e3e3;
}
.navbar a:hover {
    color:white !important;

}
body {
    background-color: #efefef !important;
}
.top-header {
    background-color: #28182d !important;
}
.tooltip {
    --bs-tooltip-bg: #4531bc !important;
    margin-top:12px !important;
}

  
#colhdg,.rollsort, .gobutton, .button1, .button2, .button3, .sendorder  {
    /* background-color:#3f3044!important; */
}

button.btn.btn-outline-primary {
    border:2px solid #4531bc !important;
    color:white !important;
    background-color:#4531bc!important;
}
.search input {
    border:2px solid #4531bc !important;
}
.header-icons a {
    color:#4f0341;
}
.email-support a {
    color:#dddddd;
}
.email-support a:hover{
    color:#ffffff;
}
.header-icons a:hover {
    color:#4531bc 
}
.header-icons {
    transform:scale(0.9);
}
#allcategories:hover  {
    background-color:#4531bc
    transition-timing-function: ease-in-out;
}
#exportorders:hover {
    background-color:#6956d3 !important;
    transition-timing-function: ease-in-out;
}
#exportorders {
    background-color:#4330ad!important;

}
#allcategories a:hover {
    color:white !important;
}
ul #allcategories {
background-color:transparent;

}
#query {
    background-color: transparent !important;
}
#allcategories a{
    color:#f5f5f5;
    font-weight: normal;
    
}
#rn-main-menu a {
    color:black;
}
#rn-main-menu a:hover {
    color:#4531bc !important;
}
.dropdown-menu a:hover {
    color:#4531bc !important;
}
 .dropdown-item:active {
    background-color: transparent !important;
}
@media (min-width:768px) {
    /* body {
        background-color: yellowgreen !important;
    } */
}
@media(min-width:1024px) /* For desktops */ {
    #allcategories {
        /* width:200px; */
        transform:scale(1.36);
        position:relative;
        left:-13px;
    
       }
    .container-header {
        .search {
        position:relative;
        left:30px;
        }
    }
    #allcategories a {
        transform:scale(0.8);
    }
    /* .top-header {
        height:30px;
    } */
    
    /* .top-header .welcome-msg {
        position:relative;
        left:70px;
    } */
    /* div.search {
        position:relative;
        left:400px;
        top:-55px;
    } */
   
       
}

@media screen and (max-device-width: 480px) /* For mobile*/
    and (orientation: portrait) {
        .top-header .welcome-msg {
            color:transparent !important;
            font-size:15px;
            /* white-space:nowrap; */
            /* overflow:hidden; */
            /* height:80px; */
        
        }
        .rn-logo {
            
            position:relative;
            transform:scale(0.8);
            left:-15px;
            
            
        }
        div .search {
            order:2;
            padding:0 20px;
                
        }
       
        #search button {
            margin-left:5px;
        }
        #search input {
            margin-right:5px;
           
        }
        
        
        .col.d-flex.mt-4.header-icons.justify-content-evenly {
            display:flex;
            padding-left:20px;
           
            justify-content: space-between !important;
            position: relative;
            left:-10px;
            
           align-items: center;

        }
    }
}
