* {
    font-family: 'Open Sans', sans-serif;
}
/* removing topmsg */
div.rninfo, div.weblockmsg {
    display:none !important;
}

nav.navbar {
    /* background-color: #801c7c !important; */
    background: rgb(196,54,120);
background: linear-gradient(227deg, rgba(196,54,120,1) 0%, rgba(128,28,124,1) 59%);
    /* font-weight: bold; */

    
    
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:white !important;
}
a.nav-link.dropdown-toggle {
    color:#e3e3e3;
}
.navbar a:hover {
    color:white !important;

}
button.btn.btn-outline-primary {
    border:2px solid #c53678 !important;
    color:white !important;
    background-color:#c53678 !important;
}
.search input {
    border:2px solid #c53678 !important;
}
.header-icons a {
    color:#4f0341;
}
.email-support a {
    color:#dddddd;
}
.email-support a:hover{
    color:#ffffff;
}
.header-icons a:hover {
    color:#aa4c86 
}
#allcategories:hover  {
    background-color:#771f74;
    transition-timing-function: ease-in-out;
}
#exportorders:hover {
    background-color:#8e2568 !important;
    transition-timing-function: ease-in-out;
}
#exportorders {
    background-color:#aa4c86 !important;

}
#allcategories a:hover {
    color:white !important;
}
ul #allcategories {
background-color: #801c7c;

}
#allcategories a{
    color:#f5f5f5;
    font-weight: normal;
    
}
#rn-main-menu a {
    color:black;
}
#rn-main-menu a:hover {
    color:#801c7c !important;
}
.dropdown-menu a:hover {
    color:#801c7c !important;
}
@media (min-width:768px) {
    /* body {
        background-color: yellowgreen !important;
    } */
}
@media(min-width:1024px) /* For desktops */ {
    #allcategories {
        /* width:200px; */
        transform:scale(1.36);
        position:relative;
        left:-13px;
    
       }
    .container-header {
        .search {
        position:relative;
        left:30px;
        }
    }
    #allcategories a {
        transform:scale(0.8);
    }
    /* .top-header {
        height:30px;
    } */
    
    /* .top-header .welcome-msg {
        position:relative;
        left:70px;
    } */
    /* div.search {
        position:relative;
        left:400px;
        top:-55px;
    } */
    body {
        background-color: yellowgreen;
    }
       
}

@media screen and (max-device-width: 480px) /* For mobile*/
    and (orientation: portrait) {
        .top-header .welcome-msg {
            color:transparent !important;
            font-size:15px;
            /* white-space:nowrap; */
            /* overflow:hidden; */
            /* height:80px; */
        
        }
        .rn-logo {
            margin-bottom:10px !important;
            position:relative;
        }
    }
}
